p{
    font-size: 20px;  font-family:Arial; font-weight: 200; padding-top: 15%;

}
.profileimg{
    border-radius: 100%;
}
.sec{
    padding: 1% 5% 1%;
}
.brandnameimg{
    height: 30px;
    
}

.hov:hover{
    text-shadow: 1px 1px;
}
.cont{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.cuub {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
}
.cuub1 {
    display: flex;
    justify-content: right;
    align-items: right;
    min-height: 15vh;
    background: transparent;
}
.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(30deg);
    animation: animate 4s ease-in-out infinite;

}
.cube1 {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(30deg);
    animation: animatee 2s linear infinite;

}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(-360deg);
    }
}
@keyframes animatee {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}
.cube1 div {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, rgb(255, 200, 0));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    ;
}
.cube1 div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, rgb(255, 200, 0));
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
    ;
}
.top {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background: radial-gradient(black, #101010);
    transform: rotateX(90deg) translateZ(150px);

}
.top1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background: radial-gradient(black, #101010);
    transform: rotateX(90deg) translateZ(50px);

}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 200, 0);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 200, 0, 0.2),
        0 0 200px rgba(255, 200, 0, 0.4),
        0 0 300px rgba(255, 200, 0, 0.6),
        0 0 400px rgba(255, 200, 0, 0.8),
        0 0 500px rgba(255, 200, 0, 1);
}
.top1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 200, 0);
    transform: translateZ(-150px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 200, 0, 0.2),
        0 0 200px rgba(255, 200, 0, 0.4),
        0 0 300px rgba(255, 200, 0, 0.6),
        0 0 400px rgba(255, 200, 0, 0.8),
        0 0 500px rgba(255, 200, 0, 1);
}


@media (max-width: 500px){
    .fh1{
        font-size: 50px;
    }
}

